.best__animes{
    height: 110vh;
    background-image: url('../../dist/images/background-section-animes.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h2{
        display: block;
        color: #fff;
        font-size: 50px;
        text-align: center;
        padding-top: 70px;

        span{
            color: #2f3542;
        }
    }

    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        &__item{
            padding: 10px;

            &__img-1{
                width: 240px;
                height: 410px;
                border-radius: 10px;
                background-image: url(../../dist/images/animes/one-piece-1.png);
                transition: .5s ease-in-out;
                border: 2px solid #ffa502;

                &:hover{
                    background-image: url(../../dist/images/animes/one-piece-2.png);
                }
            }
            &__img-2{
                width: 240px;
                height: 410px;
                border-radius: 10px;
                background-image: url(../../dist/images/animes/naruto-1.png);
                transition: .5s ease-in-out;
                border: 2px solid #ffa502;

                &:hover{
                    background-image: url(../../dist/images/animes/naruto-2.png);
                }
            }
            &__img-3{
                width: 240px;
                height: 410px;
                border-radius: 10px;
                background-image: url(../../dist/images/animes/demon-1.png);
                transition: .5s ease-in;
                border: 2px solid #ffa502;

                &:hover{
                    background-image: url(../../dist/images/animes/demon-2.png);
                }
            }
            &__img-4{
                width: 240px;
                height: 410px;
                border-radius: 10px;
                background-image: url(../../dist/images/animes/bleach-1.png);
                transition: .5s ease-in;
                border: 2px solid #ffa502;

                &:hover{
                    background-image: url(../../dist/images/animes/bleach-2.png);
                }
            }
            &__img-5{
                width: 240px;
                height: 410px;
                border-radius: 10px;
                background-image: url(../../dist/images/animes/titan-1.png);
                transition: .5s ease-in;
                border: 2px solid #ffa502;

                &:hover{
                    background-image: url(../../dist/images/animes/titan-2.png);
                }
            }
        }
    }
}