
.header{
    width: 100%;
    padding: 40px 10px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.8s;
    z-index: 1; 

    &__scrolling{
        background-color: rgba(#ff6b81, 0.6);
        padding: 1px 1px;

        .button--assinar{
            display: none;
        }

        .button--entrar{
            position: relative;
            right: -60px;
            top: auto;
            width: 100px;
        }

    }

    &__container{
        max-width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between; 

        
        @media (max-width: 768px){
            display: flex;
            right: 0;
            top: 0;
            justify-content: left;
        }
    }

    &__logo{
        max-width: 200px;
        width: 100%;

        @media (max-width: 768px){
            width: 170px;
        }
    }

    &__links{
        display: flex;
        position: relative;
        right: -30px;


    }

    .button{
        height: 20px;

        &--assinar{
            background-color: #2ed573;

            &:hover{
                background-color: #5ed18e;
            }

            
            @media (max-width: 768px){
                font-size: 11px;
            }
        }
    
        &--entrar{
            background-color: #2f35426c;

            &:hover{
                background-color: #4445466c;
            }

            @media (max-width: 768px){
                font-size: 11px;
            }
        }
    }
}
