
.header{
    width: 100%;
    padding: 40px 10px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.8s;
    z-index: 1; 

    &__scrolling{
        background-color: rgba(#ff6b81, 0.6);
        padding: 1px 1px;

        .button--assinar{
            display: none;
        }

        .button--entrar{
            width: 100px;
        }

    }

    &__container{
        max-width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    &__logo{
        max-width: 200px;
        width: 100%;
    }

    &__links{
        display: flex;

    }

    .button{
        height: 20px;

        &--assinar{
            background-color: #2ed573;

            &:hover{
                background-color: #5ed18e;
            }
        }
    
        &--entrar{
            background-color: #2f35426c;

            &:hover{
                background-color: #4445466c;
            }
        }
    }
}
