
.plans{
    height: 150vh;

    h2{
        text-transform: uppercase;
        font-size: 60px;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 40px;
        color: #fff;

        @media (max-width: 768px){
            font-size: 40px;
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }

    &__list{
        display: flex;
        padding: 40px 15px;
        justify-content: space-around;

        @media (max-width: 768px){
            display: block;
            margin-right: 10px;
        }

        &__item{
            text-align: center;

            
            @media (max-width: 768px){
                margin-bottom: 30px;
            }

            h3{
                padding-top: 50px;
                text-align: center;
                font-size: 40px;
            }

            h4{
                padding-top: 10px;
                text-align: center;
                font-size: 32px;
            }

            img{
                text-align: center;
            }

            &:nth-child(2){
                position: relative;
                top: -35px;
                background-image: url('../../dist/images/plano-popular.png');
                background-size: cover;
                padding: 20px 40px;

                @media (max-width: 768px){
                    top: 0;
                }
            }

            &:nth-child(1){
                background-image: url('../../dist/images/planos.png');
                background-size: cover;
                padding: 20px 40px;
            }
            
            &:nth-child(3){
                background-image: url('../../dist/images/planos.png');
                background-size: cover;
                padding: 20px 40px;
            }
        }
    }

    .button{
        display:flex;
        width: 75%;
        padding: 15px 15px;
        font-size: 16px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 15px;
        border-radius: 15px;
        border: none;

        &:hover{
            background-color: #ff6572;
        }

        
        @media (max-width: 768px){
            width: 90%;
            font-size: 14px;
            padding: 15px 10px;
        }
    }
}

